.header {
  height: 613px;
  width: 100%;
  background: $img-background center center no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, $background-blue, rgba(255, 255, 255, 0));
    opacity: 0.6;
  }
}
