@mixin text-13($color) {
  font-size: 13px;
  color: $color;
}

@mixin text-14($color) {
  font-size: 14px;
  color: $color;
}

@mixin text-15($color) {
  font-size: 15px;
  color: $color;
}

@mixin text-16($color) {
  font-size: 16px;
  color: $color;
}

@mixin text-21($color) {
  font-size: 21px;
  color: $color;
}

@mixin text-40($color) {
  font-size: 40px;
  color: $color;
}

@mixin text-43($color) {
  font-size: 43px;
  color: $color;
}
