// Colors
$color-blue: #2CA1E9;
$color-orange: #FD935C;
$color-green: #90C35C;
$color-red: #E86464;
$color-grey: #727272;
$color-white: #FFF;
$color-black: #000;
$icon-blue: #69BFE8;
$dark-grey: #444444;
$background-blue: #1976B1;
$background-grey: #E5E5E5;
$background-light-grey: #F1F1F1;

// Fonts
$main-font: 200 14px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;

// Gaps
$xxs-gap: 10px;
$xs-gap: 20px;
$s-gap: 35px;
$m-gap: 50px;
$l-gap: 80px;
$xl-gap: 140px;

// Images
$img-background: url("/public/images/Rectangle 40 + Bitmap Copy 3.jpg");
$img-check: url("/public/images/Shape Copy 8.svg");
$img-cross: url("/public/images/Close.svg");
